<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <title>My test page</title>
  </head>
  <body>
    <script>
      function submitGen() {
        let form = document.getElementById("genForm");
        let formData = new FormData(form);
        fetch("draw/", {
          method: "POST",
          body: formData,
        })
          .then(res => {
            if (res.ok) {
              return res.blob();
            }
            throw new Error("Network response was not ok.");
          })
          .then(blob => {
            let img = document.getElementById("mosaic_img");
            window.URL.revokeObjectURL(img.src);
            img.src = window.URL.createObjectURL(blob);
          });
      }
    </script>

    <form id="genForm">
      {% csrf_token %}

      <div style="float: left; margin-right: 30px">
        <label for="width">width</label>
        <input
          type="number"
          name="width"
          id="width"
          min="5"
          max="256"
          value="32"
        />

        <label for="step">height</label>
        <input
          type="number"
          name="height"
          id="height"
          min="5"
          max="256"
          value="32"
        />

        <br />
        <label for="step">color number</label>
        <input type="number" name="step" id="step" min="4" max="10" value="5" />

        <br />
        <label for="color">color theme</label>
        <input type="color" name="color" id="color" />
        
        <br />
        <label for="line_width">outline weight</label>
        <input
          type="number"
          name="line_width"
          id="line_width"
          min="0"
          max="10"
          value="0"
        />

        <br />
        <label>outline color</label>
        <input type="radio" id="white" name="line_color" value="#ffffff">
        <label for="white">White</label>
        <input type="radio" id="black" name="line_color" value="#000000">
        <label for="black">Black</label>
        
        <br />
        <label for="side">side length</label>
        <input
          type="number"
          name="side"
          id="side"
          min="8"
          max="50"
          value="15"
        />
        <label>px</label>

        <br />
        <label for="image">pattern</label>
        <input type="file" accept="image/*" name="image" id="image" />

        <br />
        <input type="button" value="Generate" onclick="submitGen()" />
      </div>

      <img id="mosaic_img" src="" />
    </form>
  </body>
</html>
